{{!< default}}

{{#post}}
{{#if image }}
  <div id="header-big-imgs" data-num-img=1 data-img-src-1="{{image}}"></div>
{{/if}}

<header class="header-section {{#if image}}has-img{{/if}}">
{{#if image}}
<div class="big-img intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="{{#is "post"}}post-heading{{else}}page-heading{{/is}}">
          <h1>{{title}}</h1>
      
          {{#is "post"}}
          <span class="post-meta">Posted on <time datetime="{{date format='YYYY-MM-DD'}}">{{date}}</time></span>
          {{/is}}
        </div>
      </div>
    </div>
  </div>
  <span class='img-desc'></span>
</div>
{{else}}
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="{{#is "post"}}post-heading{{else}}page-heading{{/is}}">
          <h1>{{title}}</h1>
          {{#is "post"}}
          <span class="post-meta">Posted on <time datetime="{{date format='YYYY-MM-DD'}}">{{date}}</time></span>
          {{/is}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
</header>
{{/post}}