{{!< default}}

<div role="main" class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="posts-list">
        {{#foreach posts}}
        <article class="post-preview">
          <a href="{{url}}">
      	  <h2 class="post-title">{{title}}</h2> 
          </a>

          <p class="post-meta">
            Posted on <time datetime="{{date format='YYYY-MM-DD'}}">{{date}}</time>
          </p>
        
          <div class="post-entry">
            {{excerpt words="70"}}
      	  <a href="{{url}}" class="post-read-more">[Read&nbsp;More]</a>
          </div>
        
        </article>
        {{/foreach}}
      </div>

      {{pagination}}

    </div>
  </div>
</div>